<div id="content" data-list-length="<%= @item_list_length %>" data-language="<%= I18n.locale %>">
	<div id="wrapper">
		<%= render('layouts/content/left') %>
		<%= render('layouts/content/right') %>
	</div>
	<%= render('layouts/content/footer') %>
</div>
