
<tr class='playitem' id='playitem_<%= playitem.id %>'>
	<td class='sortable' width="16px"><span class="ui-icon ui-icon-arrowthick-2-n-s">.</span></td>
	<td class='name'><%= playitem.media.name %></td>
	<td class='runtime'><%= playitem.run_time %></td>
	<td class='transition' data-effect='<%= playitem.transition_effect %>'></td>
	<td class='file-type'><%= playitem.media.classification %></td>
</tr>
