
<h1><%= user.name %></h1>
<p class="editable">
	<% if user.system_admin %><%= t(:user_system) %><br /><% end %>
	User Role: <%= @group.user_desc %>
</p>

<table>
	<tr>
		<td class="desc">Email:</td>
		<td><%= user.email %></td>
	</tr>
	<tr>
		<td class="desc"><%= t(:user_edit_timezone) %>:</td>
		<td><%= user.timezone %></td>
	</tr>
	<tr>
		<td class="desc"><%= t(:user_edit_notes) %>:</td>
		<td class="editable"><%= simple_format(@group.notes) %></td>
	</tr>
</table>
