<%= form_for(@display) do |f| %>

	<p>
		<%= f.label :name, t(:displays_edit_name) %><%= mark_required(@display, :name) %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :building, t(:displays_edit_building) %><%= mark_required(@display, :building) %><br />
		<%= f.text_field :building %>
	</p>
	<p>
		<%= f.label :location, t(:displays_edit_location) %><%= mark_required(@display, :location) %><br />
		<%= f.text_field :location %>
	</p>
	<p>
		<%= f.label :comment, t(:displays_edit_comment) %><%= mark_required(@display, :comment) %><br />
		<%= f.text_area :comment %>
	</p>
	<p>
		<%= f.label :permalink, 'Custom Display URL' %><%= mark_required(@display, :permalink) %><br />
		<%= f.text_field :permalink %>
	</p>
	
	<p>
		<table>
			<tr>
				<td><%= f.check_box :physical %></td>
				<td><%= f.label :physical, 'Fixed Display' %><%= mark_required(@display, :physical) %></td>
			</tr>
		</table>
	</p>
	
	<p>
		<%= f.label :timezone, t(:user_edit_timezone) %>:<br />
		<%= f.time_zone_select(:timezone, nil, :default => current_user.timezone) %>
	</p>

<% end %>